* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3c495f;
  overflow-x: hidden;
}
.app {
  max-width: 80vw;
  margin: 0 auto;
}
.add-task-button {
  transition: 0.5s;
}
.add-task-button:hover {
  transform: scale(110%) rotate(50%);
}
@media (max-width: 1300px) {
}
